<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>RestartSpringBoard</key>
    <true/>
    <key>author</key>
    <string>Shinya Kasatani</string>
    <key>bundleIdentifier</key>
    <string>net.podmap.pocketguitar</string>
    <key>category</key>
    <string>Toys</string>
    <key>description</key>
    <string>A virtual guitar app.</string>
    <key>location</key>
    <string>http://podmap.net/apps/zip/PocketGuitar-0.2.1.zip</string>
    <key>name</key>
    <string>PocketGuitar</string>
    <key>scripts</key>
    <dict>
      <key>install</key>
      <array>
	<array>
	  <string>CopyPath</string>
	  <string>PocketGuitar.app</string>
	  <string>/Applications/PocketGuitar.app</string>
	</array>
	<array>
	  <string>CopyPath</string>
	  <string>Media</string>
	  <string>~/Media/PocketGuitar</string>
	</array>
	<array>
	  <string>SetStatus</string>
	  <string>Extracting samples...</string>
	</array>
	<array>
	  <string>Exec</string>
	  <string>/Applications/PocketGuitar.app/extract_samples</string>
	</array>
      </array>
      <key>uninstall</key>
      <array>
	<array>
	  <string>RemovePath</string>
	  <string>/Applications/PocketGuitar.app</string>
	</array>
	<array>
	  <string>RemovePath</string>
	  <string>~/Media/PocketGuitar</string>
	</array>
      </array>
      <key>update</key>
      <array>
	<array>
	  <string>RemovePath</string>
	  <string>/Applications/PocketGuitar.app</string>
	</array>
	<array>
	  <string>RemovePath</string>
	  <string>~/Media/PocketGuitar</string>
	</array>
	<array>
	  <string>CopyPath</string>
	  <string>PocketGuitar.app</string>
	  <string>/Applications/PocketGuitar.app</string>
	</array>
	<array>
	  <string>CopyPath</string>
	  <string>Media</string>
	  <string>~/Media/PocketGuitar</string>
	</array>
	<array>
	  <string>SetStatus</string>
	  <string>Extracting samples...</string>
	</array>
	<array>
	  <string>Exec</string>
	  <string>/Applications/PocketGuitar.app/extract_samples</string>
	</array>
      </array>
    </dict>
    <key>size</key>
    <string>2649367</string>
    <key>url</key>
    <string>http://www.modmyifone.com/info/pocketguitar.html</string>
    <key>version</key>
    <string>0.2.1</string>
  </dict>
</plist>
